[Unit]
Description=Reconfigure Gitlab on first boot
After=network.target

[Service]
ExecStart=/usr/sbin/gitlab-reconfigure
Type=oneshot

[Install]
WantedBy=multi-user.target
